<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>Data</display-name>

	<servlet>
		<servlet-name>TP1</servlet-name>
		<servlet-class>tp1.Tp1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletPremiereJSP</display-name>
		<servlet-name>ServletPremiereJSP</servlet-name>
		<servlet-class>tp1.ServletPremiereJSP</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TP1</servlet-name>
		<url-pattern>/urlTP1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPremiereJSP</servlet-name>
		<url-pattern>/ServletPremiereJSP</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>formPremiereJSP.html</welcome-file>
	</welcome-file-list>

</web-app>